/* Estilo para el logo en la parte superior izquierda */
.logo-container {
    position: absolute;
    top: 20px;
    left: 20px;
}

.logo {
    width: 100px; /* Ajusta el tamaño del logo */
    height: auto;
}
